@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: #222431;
}

* {
  box-sizing: border-box;
}

main {
  background: #f6f6f6;
  display: grid;
  grid-template-columns: 45% 55%;
  place-items: center;
  width: 700px;
  border-radius: 20px;
  font-family: "Quicksand";
}

.left-side {
  height: 100%;
  width: 100%;
  background-image: url('../bookverse-bg-auth.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  border-radius: 20px 0 0 20px;
}

.right-side {
  padding: 60px;
}

/* Title Section */
.title-section {
    text-align: center;
    margin-bottom: 32px;
  }
  
  .site-title {
    font-size: 2rem;
    font-weight: 700;
    color: #222431;
    margin: 0;
  }
  
  .subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
    margin: 4px 0 20px;
  }
  

.btn {
  background-color: #f6f6f6;
  border: 2px solid #6b7280;
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: max-content;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 6px;
  transform: scale(1);
  cursor: pointer;
}

.btn:focus {
  transform: scale(0.97);
}

.btn:hover {
  background-color: #000;
  color: #eee;
}

.btn img {
  width: 16px;
  height: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  border-radius: 50%;
  padding: 2px;
}

.or {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 600;
}

.or::before,
.or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #000;
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

input {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  outline: 0;
  border-radius: 5px;
  background-color: transparent;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
}

input:focus {
  border: 2px solid #000;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
}

.login-btn {
  width: 100%;
  background-color: #f6f6f6;
  border: 2px solid #6b7280;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 24px;
  margin: 12px 0 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.login-btn:hover {
  background-color: #000;
  color: #eee;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: #000;
  font-size: 0.88rem;
  font-weight: 600;
  letter-spacing: -1px;
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  color: #0d85b9;
}
